.hoverable {
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
}

.hoverable:hover {
    background-color: var(--bg-hover);
}

/* style={
    {
        "--bg-color": palette.primary,
        "--bg-hover": palette.bgHover,
    } as any
} */